azul = rgba(27,70,153,0.9);
azulito = #0b9dd9;

body
	margin 0
	padding 0
.logo
	height 120px
	.logoinma
		img
			float left
	.lema	
		position relative
		height 120px
		h2		
			bottom 12px
			color azul
			float left
			font-family 'Monotype Corsiva'			
			margin 0
			position absolute
			text-align center
			font-size 1.4em
		.telefono
			position absolute
			top 43px
			right 0
			width 242px
			
			p
				position relative
				color azulito
				float left
				margin 14px 0px
				font-size 18px
				padding 0px 20px
				span
					color #abd242
					font-size 25px
					position absolute
					top 2px
					left -12px
					-webkit-transform: rotate(30deg);
					-moz-transform: rotate(0deg);
					rotation: 0deg;

			ul
				margin 0
				padding 0
				padding-top 10px
				li
					display inline-block	

					img							
						padding 0
						margin 0
						width 20px

.navbar
	border 0px	
	border-radius 0px	

.navbar-collapse
	margin 0
	padding 0

.navbar-default
	background-color azul		

.mainmenu
	margin 0
	padding 0
	ul
		margin 0
		padding 0

	.home
		background white
		&:hover
			background white !important

	.open>a
		background-color white !important
		color azul !important
		

	li		
		&:hover
			background azulito
		img
			height 70px			

		a
			color white !important
			text-align center	
			font-size 1.4em

.slider
	height 213px	

.titul
	border-bottom #ddd 1px solid
	padding 40px 0px
	font-size 50px
	text-transform uppercase
	line-height 50px 

.itemresultado
	text-align center
	a
		margin-top 10px

.fixed
	position fixed
	top 0
	z-index 99
	width 100%
.camera_pag
	position absolute
	bottom 0
	right 0


.book-form
	width 100% !important
	position relative
	height 509px

	h4
		height 155px !important
		padding 40px 0px !important
		width 100% !important
		margin 0
		float none !important
		p
			font-size 20px 
	.inner-form
		width 100%
		position absolute
		height auto !important

		.inputs
			width 830px

			input[type="text"]
				width 148px !important
				
			textarea
				height 130px !important
				width 38% !important

		input[type="submit"]		
			width 200px !important
			margin-top 20px !important
			margin-bottom 25px
			margin-left 24% !important
	marquee
		color white
		font-size 18px		

.radio,	.icono
	position fixed
	top 50%
	left 0

	.icono
		height 30px
		-webkit-transition all 1s ease
		margin-left -354px

		&:hover
			margin-left 0


.tips
	height 372px
	h2
		background #00A7CB
		color white
		border-radius 5px
		width 260px
		text-align center
		margin 0 auto
		font-size 3em
	.col-md-8, .col-md-2
		padding 0
		margin 0
	.slick-prev, .slick-next
		display none !important	
	.ladoiz, .ladoder
		background #00A7CB
		height 330px
		margin-top 30px
	.ladoiz
		position relative
		img
			position absolute
			bottom -104px
			left 60px
			z-index 9
		&:after
			border-top 100px solid #00A7CB
			border-right 225px solid transparent	
			content " "
			width 69px
			position absolute
			bottom -100px
				
	.ladoder
		&:after
			border-top 100px solid #00A7CB
			border-left 225px solid transparent	
			content " "
			width 69px
			position absolute
			bottom -100px	

footer
	margin-top 1.5em
	padding 2%
	background-color gray
	color white
	font-size 1.2em	
	text-align center

	.menufooter
		display none
		margin 0
	
		li
			display inline-block
			text-decoration none
			text-align center	

			span 
				padding 5px

			a
				color white			

	p
		margin 0

	a
		color white	

		&:hover
			color white
			

/* UNIDADES */
.fluid_container
	height 500px !important

.titulunidad
	background azulito
	width 100%	
	text-align center
	color white	
	h2
		padding 0px 0px 25px 0px
		margin 0

			
.infounidad
	h3
		color azul


.servicios
	margin-top 2em
	text-align justify
	.servicio
		margin-top 3em
		.row
			margin-right 0px
			.col-md-3
				margin 0
				padding 0
				position relative
				img
					height 207px
					margin-right -25px
					margin-top -6px
					position absolute
					right 0
					z-index 9
			.col-md-9
				margin 0
				padding 0		
		.azulito
			background azulito
			color white	
			padding-left 24px !important
			padding-right 10px !important
			h3
				border-bottom 1px solid white	
				text-transform uppercase
				text-align center
			ul 
				li
					list-style none

.noticias
	margin-top 2em
	video 
		width 100%
		height 450px

.descargar
	margin-top 2em
	position relative

	p
		position absolute
		right 0			
		font-size 18px
		color azulito

		i
			padding 5px				

@media (min-width 550px)
	.logo
		.lema
			h2
				font-size 2em
				margin-left 12%
			.telefono
				top 0	
				width 400px	
				p
					font-size 2em
				ul
					li
						a
							img
								width auto

	.book-form 
		.inner-form 
			.inputs 
				input[type="text"]
					width 174px !important
				textarea							
					width 67% !important
			input[type="submit"]
				margin-left 37%	!important	

@media screen and (min-width: 760px)	
	.logo
		.lema
			h2
				position absolute
				top 70px
				right 17%

	.container-fluid
		margin 0
		padding 0

	.book-form	
		height 331px
		.inner-form
			form
				float none
				width 687px
				width auto
			h4
				height 200px  !important
				padding 70px 0px !important
				width 250px !important
				float left !important
			.inputs
				width auto	

				input[type="text"]
					width 145px !important

				textarea
					width 472px !important
					height 107px !important	

			input[type="submit"]	
				margin-left 10% !important	



	.mainmenu
		
		.home			
			a
				padding 0 !important
			img
				width 110px
				padding 0					
			
		.nav
			.open>a
				background-color azulito !important
				color white !important

				
			li	
				height 65px	
				.resultados
					background #0B9DD9
					&:hover
						background #0B9DD9				

				.submenu
					background rgba(white,0.8)	

					li
						height 35px !important

						&:hover
							background azulito !important


						a
							color azul !important
							height 35px
							padding 0px 10px

							&:hover
								background-color azulito
								color white !important
				a
					font-size 1.1em
					padding 22px 5px

@media (min-width: 920px)	
	.logo
		.lema
			h2				
				right 27%	
	.mainmenu
		.nav			
			li
				a	
					padding 22px 12px			
					font-size 1.2em	
	.slider
		height 251px	

	.book-form
		height 187px
		.inner-form
			input[type="submit"]
				width 150px !important
				float right
				margin-top -10px !important				
				margin-left 0 !important
				margin-right 10px !important

	.tips
		.col-md-8
			height 330px
			background azulito
			margin-top 30px
			z-index 1
			.slick-slider
				margin 0 !important
		.ladoiz
			&:after
				bottom -80px
		.ladoder
			&:after
				right 0
				bottom -80px
				z-index 0											

@media (min-width: 1020px)
	
	.logo
		height 76px
		.logoinma
			img
				float left
				margin 0
				padding-top 5px
				padding-left 50px
		.lema
			h2
				position relative
				top 0
				right 0
				padding 20px 0px

			.telefono
				p
					span
						font-size 35px							

	.mainmenu	
		
		.home
			padding-left 10px
			padding-right 10px
		
		.nav			
			li
				a	
					padding 22px 15px			
					font-size 1.2em	

	.book-form
		height 238px
		.inner-form
			input[type="submit"]
				float right
				margin-top -5px !important
				margin-left 10px
				margin-left 0 !important  	
	

	footer
		.menufooter
			display block

	#modalresultado
		background url('../img/Fondoresultados.jpg')	  		

@media (min-width: 1200px)	
	.logo
		.lema
			text-align center
			h2
				left 0
			.telefono
				width 375px
				p
					font-size 23px
	.slider
		height 260px
	.mainmenu
		.home
			padding-left 15px
			padding-right 15px
		.nav			
			li
				a	
					padding 22.5px 25px			
					font-size 1.3em	

	.book-form		
		.inner-form
			h4
				height 192px
				width 275px !important
			.inputs	
				input[type="text"]
					width 215px !important
					height 30px

				textarea 
					width 684px !important	
					height 80px !important
					resize none
			
			input[type="submit"]
				margin-left 0 !important
				margin-right 15px
				width 200px !important			

@media (min-width: 1300px)
	.slider
		height 360px
	
	.mainmenu	
		.home
			padding-left 17.5px
			padding-right 17.5px
		.nav			
			li
				a	
					font-size 1.3em	
					padding 22.5px 30px	

	.book-form	
		height 173px	
		.inner-form
			form
				width 1065px
				float right
			.inputs	
				input[type="text"]
					width 23% !important

				textarea 
					width 73% !important	
			
			input[type="submit"]
				margin-left 0 !important
				margin-right 15px	

	.tips
		.col-md-8
			.slider
				height 330px	
		
		.ladoiz
			&:after
				bottom -100px
		.ladoder
			&:after			
				bottom -100px
						



@media (min-width: 1400px)	
	.slider
		height 383px
	.mainmenu	
		.home
			padding-left 40px	
		.nav			
			li
				a	
					font-size 1.3em	
					padding 22.5px 35px		


